/* globales */
:root {
  --FuentePrincipal: "Roboto", sans-serif;
  --FuenteSecundaria: "Poppins", sans-serif;
  --Fuentetercera: "Ga Maamli", sans-serif;
  --gray: #d3d3d3;
  --graydark: #696969;
  --blue: #0000ff;
  --Royalazul: #4169e1;
}

html {
  font-size: 62.5%;
  box-sizing: border-box; /* Hack para Box Model **/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /* 1rem = 10px */
  max-width: 1550px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* pantalla Escritorio */

.container-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 6fr;
  grid-template-rows: 0.4fr 3fr 0.4fr;

  grid-template-areas:
    "B A A A A"
    "B C C C C"
    "H C C C C ";
}

header {
  grid-area: A;
  background-color: var(--gray);
}

aside {
  grid-area: B;
  background-color: var(--Royalazul);
}

main {
  grid-area: C;
}

footer {
  grid-area: H;
  background-color: var(--blue);
  height: 150px;
}

header,
aside,
main,
footer {
  color: black;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

/* Buscador */

header h3 {
  color: var(--graydark);
  font-size: 23px;
  font-family: var(--FuentePrincipal);
  font-weight: 600;
  margin-bottom: 2px;
}

.opcion {
  width: 90%;
  background-color: white;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: var(--FuentePrincipal);
  font-weight: 500;
  color: var(--graydark);
  padding: 10px;
}
.opcion_item {
  color: var(--graydark);
  font-size: 18px;
  font-family: var(--FuentePrincipal);
  font-weight: 500;
}

/* navegacion */

.navegacion-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
}
.logotipo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.logotipo i {
  color: white;
  font-size: 60px;
}

.logotipo_titulo {
  font-family: var(--Fuentetercera);
  color: white;
  font-weight: 500;
}

.logotipo_titulo span {
  font-size: 50px;
  font-weight: 700;
}

.nvas {
  color: white;
  line-height: 50px;

  font-size: 2rem;
  font-family: var(--FuenteSecundaria);
  font-weight: 700;
  text-transform: uppercase;
}
.haburguesa{
  display: none;
  
  
}




/* Pie */

.pie {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.pie_pag {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.pie_pag i {
  color: white;
}

.pie p {
  font-size: 1.6rem;
  color: white;
  font-family: var(--FuenteSecundaria);
}


/* media querys */

/* pantalla de tablet horizontal */
@media (max-width: 991px) and (min-width: 568px) {
  .container-grid {
    grid-template-columns: 1.5fr 4fr;
    grid-template-rows: 0.5fr 4fr 0.5fr;
    grid-template-areas:
      "B B B B B"
      "A C C C C"
      "H H H H H";
  }
  aside {
    display: flex;
    justify-items: center;
    justify-content: space-around;
  }
  .navegacion-principal {
    flex-direction: row;
    gap: 10px;
    margin-top: 33px;
  }
  .logotipo {
    justify-content: start;
    margin-right: 101px;
  }

  .logotipo_titulo {
    font-size: 20px;
  }

  .logotipo_titulo span {
    font-size: 25px;
  }
  .nvas {
    font-size: 1.5rem;
  }

  .logotipo i {
    font-size: 30px;
  }

  .haburguesa{
    display: none;
  }
}

/* pantalla celular sm */
@media (max-width: 567px) and (min-width: 180px) {
  .container-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 3fr 0.5fr;
    grid-template-areas:
      "B B B B B"
      "A A A A A"
      "C C C C C"
      "H H H H H";
  }

aside{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

  .logotipo_titulo {
    font-size: 20px;
  }

  .logotipo_titulo span {
    font-size: 25px;
  }

  .logotipo i {
    font-size: 30px;
  }
 .navegacion{
  display: none;
 }
 .haburguesa{
  display: block;
  
  
  
 }

 .icon_hamburhuesa{
  
  color: white;
  cursor: pointer;
 }


 }


