
/* globales */
:root{}




html {
  font-size: 62.5%;
  box-sizing: border-box; /* Hack para Box Model **/}

  *, *:before, *:after {
    box-sizing: inherit;
}

body {
  font-size: 16px; /* 1rem = 10px */

}

/* media querys */
/* pantalla Escritorio */

@media(max-width: 1200px) and (min-width:992px ){}
  /* pantalla de tablet horizontal */
@media(max-width:991px ) and (min-width:768px){}
  /* pantalla tablet vertical md */
@media(max-width: 767 ) and (min-width: 576px){}
/* pantalla celular sm */
@media( max-width:567px) and (min-width:180px ){}